<!DOCTYPE html>
<html>
<head>
  <title>Top Sales</title>
  <style>
    img.sales-photo {
      border-radius: 100px;
      width: 50px;
    }
    .sales-count {
      font-size: x-large;
      padding: 10px;
    }
  </style>
</head>
<body>
<%= erb(:top_sales_table) %>
</body>
</html>
